.timeline-container {
  --point-size: 5rem;
  --vertical-line-width: 5px;
  --container-initial-position: calc((var(--point-size) / 2));

  background-color: grey;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem;

  .timeline-vertical-line {
    height: 100%;
    width: var(--vertical-line-width);
    background-color: black;
    border-radius: 36px;
    position: absolute;
  }

  .timeline-wrapper {
    width: 100%;
    height: 100%;
    
    border: 1px solid pink;

    display: flex;
    flex-direction: column;
    align-items: center;

    .timeline-point-container {
      padding: 2rem 0;
      transition: padding 300ms;

      &:hover {
        padding: 3rem 0;
      }

      .point {
        display: flex;
        justify-content: center;
        align-items: center;

        height: var(--point-size);
        width: var(--point-size);
        border: 1px solid green;
        border-radius: 50%;
      }

      &.container-left {
        transform: translateX(-50%);
        // right: var(--container-initial-position);
      }
      &.container-right {
        transform: translateX(50%);
        // left: var(--container-initial-position);
      }
    }
  }
}